/* based on a list apart article: http://www.alistapart.com/articles/accessibledatavisualization/ */
* { 
  margin: 0; 
  padding: 0; 
  list-style-type: none;
  font-family: 'Droid Sans', arial, serif;
  color: #ccc;
}

.title {
  text-align: center;
  height: 0px;
}

#content {
  display: table;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

#graph { 
  position: absolute;
  left: 200px;
  width: 600px;
  top: 400px;
  height: 300px;
}

.bargraph.title { 
  display: block;
  position: relative;
}

.bargraph .bar { 
  width: 60px;
  height: 300px; 
  margin-right: 8px;
  position: relative;
  float: left; 
}

.bargraph.title .bar {
  margin-right: 48px;
  width: 64px;
}

.bargraph .bar .tick {
  text-indent: -9999px;
  overflow: hidden;
  height: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.bargraph .bar .value {
  display: block; 
  position: absolute; 
  bottom: 100px; 
  left: 0; 
  width: 100%; 
  height: 0; 
  background: #AAA;
  overflow: hidden; 
  text-indent: -9999px;
  text-align: center;
}

.bargraph.title .bar .value {
  text-indent: 0px;
}

.bargraph .bar .value:hover, .bargraph .bar.moving .value {
  text-indent: 0px;
  cursor: pointer;
  border-top: 3px double #bbf;
}

.bargraph .bar .label {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left bottom;
  writing-mode: tb;
  display: block;
  position: absolute;
  top: 200px;
  white-space: nowrap;
  border-bottom: 1px solid #abf;
}


.bargraph .guide {
  position: relative;
}

.bargraph .guide-line {
  position: absolute;
  width: 100%;
  top: 0%;
  border-bottom: 1px solid black;
  z-index: 1;
}

span.small {
  font-size: 0.5em;
}

.bargraph .guide-label {
  position: absolute;
  height: 0%;
  left: 100%;
  top: 50px;
  font-size: 1.5em;
  margin-top: -0.5em;
}

.slider-handle {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: -10px;
  background: gray;
  position: absolute;
}

.slider-tick {
  display: inline-block;
  position: absolute;
  width: 2px;
  margin-left: -1px;
  margin-top: -2px;
  height: 14px;
  background: #559;
}

.slider {
  position: relative;
  left: 20%;
  width: 60%;
  height: 10px;
  background: #555;
}

body {
  background: #333;
  color: #abf;
}
